* {
    box-sizing: border-box;
    margin: 0;
}

body{
  
}

.header{
    margin: 20px;
    background: rgb(107, 94, 187);
    width: 98%;
    height: 60px;
    border: 4px solid rgb(91, 80, 165);
    border-radius: 4px;
}

.conten-section{
    margin: 20px;
    background: rgb(167, 155, 247);
    width: 98%;
    height: 100vmin;
    border: 4px solid rgb(151, 138, 231);
    border-radius: 4px;
}