* {
    box-sizing: border-box;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: #f7941f;
    width: 98%;
    height: 60px;
}

.titulo{
    font-size: 26px;
    color: cornsilk;
}

.conten-section{
    display: flex;
    margin: 20px;
    width: 98%;
    height: 85vmin;
}

.izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 5px;
    background: #efdbf2;
   
}

.align{
    font-size: 22px;
    color: #14151f;
}

.artIzq{
    width: 80%;
    height: 80%;
    margin-top: 20px;
}

.titulosUno{
    display: flex;
    justify-content: flex-start;
    
    
}

.pFlexstar{
    width: 120px;
    height: 20px;
    margin-right: 46%;
}

.contUno{
   
    display: flex;
    justify-content:space-between;

}

.iz1{
    width: 45%;
    height: 120px;
    background: burlywood;
    border-radius: 6px;

}

.de1{
    width: 45%;
    height: 120px;
    background: cadetblue;
    border-radius: 6px;
    
}

.infCentral{
    width: 100%;
    height: 120px;
    background: rgb(212, 200, 129);
    border-radius: 6px;

}

.der{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 5px;
    background: #f2cef2;
    
}

.artDer{
    width: 80%;
    height: 80%;
    border: 1px solid red;
}